@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Poppins:wght@100;300;400;500;600&display=swap');

html{
    box-sizing: border-box;
}
*,
*:before *:after{
    box-sizing: inherit;
}
body{
    background: radial-gradient(#3a3a3a 0%, #252525 50%);
    height: 100vh;
}

.angka{
    padding-left: 200px;
    font-size: 20px;
    font-family: 'Short Stack', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 100vh;
    flex-direction: column;
}
.title{
    color: #fff;
    font-family: 'Londrina Outline', sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 7px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 5px #ff7bac,
                 0 0 10px #ff7bac,
                 0 0 20px #ff7bac,
                 0 0 40px #ff7bac,
                 0 0 80px #ff7bac,
                 0 0 100px #ff7bac,
                 0 0 120px #ff7bac;
    animation: blink 2s infinite linear alternate;
}
.title > .letter{
    margin: 0 9px;
}
@keyframes blink {
    60%, 70%, 79%{
        opacity: 1;
    }
    65%, 67%, 76%, 78%{
        opacity: 0.2;
    }
    66%, 69%, 77%{
        opacity: 0.8;
    }
}

.subtitle{
    color: #d6d1e8;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: #6be9ff 2px 2px 10px;
    animation: border-flicker 6s ease-in-out 8.15s infinite alternate both;
}
.subtitle > .letter{
    margin: 0 5px;
}

.subtitle > .a{
    animation: flicker 6s ease-in-out 7.75s infinite alternate both;
}
.subtitle > .b{
    animation: flicker 6s ease-in-out 2.27s infinite alternate both;
}
.subtitle > .c{
    animation: flicker 6s ease-in-out 7.41s infinite alternate both;
}
.subtitle > .d{
    animation: flicker 6s ease-in-out 8.94s infinite alternate both;
}
.subtitle > .e{
    animation: flicker 6s ease-in-out 4.47s infinite alternate both;
}
.subtitle > .f{
    animation: flicker 6s ease-in-out 6.6s infinite alternate both;
}
.subtitle > .g{
    animation: flicker 6s ease-in-out 3.81s infinite alternate both;
}
.subtitle > .h{
    animation: flicker 6s ease-in-out 6.39s infinite alternate both;
}
.subtitle > .i{
    animation: flicker 6s ease-in-out 74.76s infinite alternate both;
}
.subtitle > .j{
    animation: flicker 6s ease-in-out 70.76s infinite alternate both;
}
.subtitle > .k{
    animation: flicker 6s ease-in-out 74.76s infinite alternate both;
}
@keyframes flicker{
    0%, 2%, 35%, 37%, 39%, 41%, 100%{
        opacity: 1;
    }
    1%, 3%, 34%, 36%, 38%, 40%{
        opacity: 0;
    }
}
@keyframes border-flicker{
    0%, 2%, 4%, 6%, 33%, 37%, 39%, 41%, 100%{
        border: 2px solid-white;
        box-shadow: #6be9ff 0px 0px 10px, inset #6be9ff 2px 2px 10px;
    }
    1%, 3%, 5%, 34%, 36%, 38%, 40%{
        border-color: transparent;
        box-shadow: unset;
    }
}